.table-container {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* .table-wrapper {
    overflow-x: auto;
} */

#tbDashboard {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tbDashboard th,
#tbDashboard td {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    text-align: left;
}

#tbDashboard tbody tr:nth-child(odd) td {
    background-color: #ffffff;
}

#tbDashboard tbody tr:nth-child(even) td {
    background-color: #f9f9f9;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_wrapper {
    width: 100%;
}

th,
td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fa-solid.fa-plus {
    color: aqua;
    width: 35px;
}
.fa-solid.fa-plus:hover {
    color: white;
}
.fa-solid.fa-file-excel {
    color: green;
    width: 35px;
}
.fa-solid.fa-file-excel:hover {
    color: white;
}
.fa-regular.fa-file-excel {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .table-container {
        margin-top: 50px;
    }
    .table-container h4 {
        font-size: 1.3rem;
    }
    .fa-regular.fa-file-excel {
        font-size: 0.75rem;
    }
    #spann {
        font-size: 0.8rem !important;
    }
}
